<LDAP>
	# LDAP server URL
	URL		{{ ldap_server_uri }}

	BindDN		{{ ldap_basedn }}

	Password	SecretPassword

	Timeout		15
	TLSEnable	no
	FollowReferrals yes
</LDAP>

<Authorization>
	BaseDN		"ou=People, {{ ldap_basedn }}"
	SearchFilter	"(uid=%u)"
	RequireGroup	false
</Authorization>